@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  src: url("/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansJP";
  src: url("/NotoSansJP-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

button {
  cursor: pointer;
}
