.header_container {
  background-color: var(--color-primary-dark);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.header_homelink {
  color: var(--color-surface-alt);
  font-size: var(--font-size-Xxl);
  font-family: var(--logo-font);
  font-weight: var(--font-weight-bold);
}
