.index {
  padding: var(--space-xl);
  border-radius: 16px;
  margin: 24px 16px;
  text-align: center;
}

.index__heading {
  font-size: var(--heading-2-size);
  margin-bottom: var(--space-lg);
  color: var(--color-text);
}

.index__description {
  font-size: var(--font-size-md);
  margin-bottom: var(--space-md);
  color: var(--color-text-subtle);
}

.index__link {
  display: inline-block;
  background-color: var(--color-primary-dark);
  color: var(--color-surface);
  padding: var(--space-sm) var(--space-lg);
  border-radius: 2px;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  box-shadow: 0 2px 4px var(--color-shadow);
  transition: background-color 0.2s ease;
}

.index__history {
  margin-top: 2rem;
}

.index__history-title {
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid var(--color-border);
}

.index__history-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.index__history-item {
  border-radius: 4px;
  margin-bottom: 0.75rem;
  border: 1px solid var(--color-border);
  padding: 0.4rem 0.7rem 0.1rem;
}

.index__history-group {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  text-align: left;
}

.index__history-meta {
  font-size: 0.85rem;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.index__history-remove--btn {
  padding-top: 10px;
  font-size: var(--font-size-sm);
  color: var(--color-accent-tuna);
}

/* タブレット以上 */
@media (min-width: 640px) {
  .index {
    max-width: 480px;
    margin: 40px auto;
  }
}
